.registerContainer{
    width:400px;
    position: relative;
    margin:50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    color:#765140 ;
    font-size: 50px;
    font-family: 'Crimson Text', serif;
}
input{
    width: 500px;
    height: 50px;
    margin: 10px;
    color:#765140 ;
   
}
button{
    height: 50px;
    width: 200px;
    background-color: #765140;
    color: #D1BAAC;
    font-size: 30px;
    border-style: none;
    cursor: pointer;
}
