.header{
    width: 100%;
    position: relative;
    height: 60px;
    display: flex;
    background-color: #D1BAAC;
    justify-content: space-between;
    box-sizing: border-box;
}

.logo{
color:#765140;
    font-size: 40px;
  
    margin: 18px;
    text-shadow: 0 0;
    font-family: 'Newsreader', serif;
}


.menu{
    display: flex;
    margin: 20px;
}

.menu > li > a{
    color: #fff;
    font-weight: bold;
    text-shadow: 0 0;
    text-decoration: none;
}

.leftMenu{
    display: flex; 
    color: #fff; 
    margin: 20px;
}

.leftMenu > li{
    margin: 0 10px;
}

.leftMenu > li > a{
    
    color:#765140;
    font-size: 30px;
    font-family: 'Newsreader', serif;

}

.leftMenu > li > a.active{
    font-weight: bold;
}

.menu{
    display: flex;
    margin: 20px;
    font-size: 30px;
}

.menu > li > a{
    color: #fff;
    color:#765140;
    
    font-family: 'Newsreader', serif;
    
}

.leftMenu{
    display: flex; 
    
    margin: 20px;
}

.leftMenu > li{
    margin: 0 10px;
}

.leftMenu > li > a{
    color: #fff;
}

.leftMenu > li > a.active{
    font-weight: bold;
}