/**
font-family: 'Crimson Text', serif;
font-family: 'EB Garamond', serif;
font-family: 'Newsreader', serif;**/
.container{
    display: flex;
    position: absolute;
    width: 100%;
    height: calc(100% - 60px);
    overflow: hidden;
}
.listOfUsers{
    width: 30%;
    height: 100%;
    overflow-x: hidden;
    border-right: 1px solid #ccc;
}
.chatArea{
    width: 70%;
    height: 100%;
    overflow-x: hidden;
    position: relative;
}
.chatHeader{
    position: fixed;
    width: 70%;
    height: 40px;
    background: #e2e0e0;
    text-align: center;
    line-height: 40px;
     color:#765140;
    font-size: 20px;
    font-family: 'Newsreader', serif;

}
.chatControls{
    display: flex;
    position: fixed;
    width: 70%;
    height: 50px;
    bottom: 0;
}
.chatControls textarea{
    width: 90%;
}
.chatControls button{
    width: 10%;
}

.displayName{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    box-sizing: border-box;
    cursor: pointer;
    font-family: 'EB Garamond', serif;
    color:#765140;
    font-size: larger;
}

.displayName.active{
    background: #ccc;
}

.displayName .displayPic{
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 25px;
    font-family: 'EB Garamond', serif;
    color:#765140;
  
}

.displayName .displayPic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.messageStyle{
    background-color: #D1BAAC;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 5px;
    display: inline-block;
    font-family: 'EB Garamond', serif;
}

.messageSections{
    height: calc(100% - 90px);
    width: 100%;
    overflow-x: hidden;
    position: relative;
    top: 40px;
    font-family: 'EB Garamond', serif;
}
.onlineStatus{
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #16e316;
    border-radius: 5px;
    box-shadow: 0 0 10px #16e316 ;
    font-family: 'EB Garamond', serif;
}

.onlineStatus.off{
    background: green;
    box-shadow: 0 0 0 0;
    font-family: 'EB Garamond', serif;
}